/* Universal styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Aleo', serif;
    font-family: 'Amiri', serif;
    font-family: 'Lexend Deca', sans-serif;
}

:root {
    --dark-01: #181818;
    --dark-02: #474747;
    --dark-03: #757575;
    --primary-color: #FD6E0A;
    --white-color: #FFF;
    --section-bg: #FFF8F3;
    --banner-bg-color: #FFF8F3;

}

/* Primary styles */
.primary-text {
    color: var(--primary-color);
}

.primary-btn {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--primary-color);
    border: none;

    color: var(--white-color);
    font-size: 20px;
}

.primary-btn:hover {
    color: var(--dark-01);
    background-color: #bd540a;
    transition-duration: 1s;
}

/* Header styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav h1 a {
    list-style: none;
    color: var(--dark-01);
    text-decoration: none;
}

.logo {
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 51px;
    list-style: none;
    font-size: 20px;
    color: var(--dark-02);
}

nav li a {
    text-decoration: none;
    color: var(--dark-02);
}

nav li a:hover {
    color: var(--dark-03);
    transition-duration: 1s;
}

/* Header styles */

.header {
    background-color: var(--banner-bg-color);
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    ;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left center;
    background-size: 700px, 80px;
}

#banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-info {
    margin: 0px 150px;
}

.banner-greet--title {
    color: var(--dark-02);
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    color: var(--dark-01);
    font-size: 60px;
    font-weight: 700;
}

.banner-description {
    color: var(--dark-03);
    font-size: 18px;
}

.btn-transparent {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    margin-left: 30px;
}
